@import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@300;400;500;600;700&display=swap');


* {font-family: 'Readex Pro';}


a {
    text-decoration: none;
    color: white !important;
    font-weight: 500;
}

a:hover {
    color: #d33682 !important;
    text-decoration: none;
}

ul {list-style-type: none;}

hr {
    margin-top: 0.0rem !important;
    margin-bottom: 0.5% !important;
}

.gif-container {
    position: relative;
    display: inline-block;
}
.container {
    width: 100%;
    margin: 0 auto;
  }

  .top-right-image {
    float: right;
    margin: 0 0 10px 10px;
    width: 70px;
    height: auto;
  }

#MainMenu {visibility: hidden;}
footer {visibility: hidden;}
header {visibility: hidden;}
